.blogPostWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50vw;
    width: 85vw;
    min-width: 820px;
    margin: 0 auto 80px auto;
    overflow: hidden;
}

.hiddenBlogPost {
    transform: translate(-5%, 8%) rotate(-10deg);
}


.hiddenImg {
    filter:opacity(0);
}

.showImg {
    filter: opacity(1);
}

.blogPostImage {
    width: 50vw;
    height: 50vw;
    transition: transform 1.5s ease-out; 
}

.blogPostImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.3s ;
}

.imageFrame {
    background-color: transparent;
    border: 30vw solid var(--background-color);
    position: absolute;
    top: -30vw;
    z-index: 1;
}

.frameLeft {
    left: -30vw;
}

.frameRight {
    right: -30vw;
}


.blogPostTextWrapper {
    width: 30vw;
    height: auto;
    z-index: 2;
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.blogPostText {
    font-size: 1.2em;
    font-weight: lighter;
    line-height: 1.5em;
    margin-bottom: 2em;
}

.blogPostAnchor {
    font-size: 1.4em;
    color: var(--font-color)
}

@media screen and (max-width: 1200px) {
    .blogPostText {
        font-size: 1em;
    }
    .blogPostAnchor {        
        font-size: 0.8em;
    }
}