.slideShow {    
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
}

.homeGallerySlideShow {
    max-width: 100vw;
    max-height: 100vh;
}

.slideShowSlider {
    white-space: nowrap;
    transition: 0.7s ease;
}

.slide {
    display: inline-block;
    object-fit: cover;
}

.homeGallerySlide {
    height: 100vh;
    width: 100%;
    filter: grayscale(1);
}

.homeGallerySlide:hover {
    filter: grayscale(0);
    transition: filter 0.8s ease-in-out;
}

.slideShowDots {
    text-align: center;
}

.slideShowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
}

.dotsHomeGallery {
    position: relative;
    bottom: 100px;
}

.activeSlide {
    animation: zoom 5s linear;
}

.active {
    background-color: black;
}

@keyframes zoom {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}