.gridGalleryWrapper {
    height: auto;
}

.gridGallery {
    display: grid;
    grid-template-columns: repeat(4, 15svw);
    grid-auto-rows: 15svw;
    width: 60svw;
    margin: 0 auto;
}


.wrapper {
    padding: 10px; 
}

.gridGalleryImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.3s ease-out;
    filter: brightness(0.6);
}

.gridGalleryImg:hover {
    transform: scale(1.1);
    filter: brightness(1);
}

.a2x2 {
    grid-row-end: span 2;
    grid-column-end: span 2;
}

.a1x2 {
    grid-row-end: span 1;
    grid-column-end: span 2;
}

.a2x1 {
    grid-row-end: span 2;
    grid-column-end: span 1;
}

.a1x1 {
    grid-row-end: span 1;
    grid-column-end: span 1;
}

.gridItemText {
    margin: 0;
    position: relative;
    bottom: 3rem;
    left: 1rem;
    font-size: 2em;
    color: var(--font-color-secondary);
}

@media screen and (max-width: 1100px) {
    .gridGallery {
        grid-template-columns: repeat(4, 22.5vw);
        grid-auto-rows: 22.5vw;
        width: 90vw;
    }

    .wrapper {
        padding: 5px;
    }
}

@media screen and (max-width: 1500px) {
    .gridItemText {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 700px) {
    .gridItemText {
        font-size: 1em;
        bottom: 3rem;
    }
}