.latestWrapper {
    height: 600px;
    max-width: 100vw;
}

.latestSlideShow {
    max-height: 500px;
    max-width: 100vw;
}

.latestSlide {
    height: 400px;
    width: 400px;
    border: 0px solid transparent;
    border-radius: 10px;
    background-color: gainsboro;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.latestImg {
    height: auto;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.latestProductsDots {
    margin-top: 20px;
}

#latestProducts {
    text-align: center;
}

