:root {
    --font-color: black;
    --font-color-secondary: white;
    --font-color-gray: rgb(133, 133, 133);
    --background-color: rgb(243, 243, 243);
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: rgb(243, 243, 243);
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
